<%- include('../partials/header.ejs')  %>

<title>CADASTRO DE SERVIÇOS - MADU NIALS</title>

</head>

<body>
    
    <div class="container">

        <%- include('../partials/menu.ejs') %>

        <div class="card mt-2">
            <div class="card-header">CADASTRO DE SERVIÇOS</div>
        </div>

        <div class="card-body">
            <form action="http://localhost:3000/InserirServico" method="post">
                
                <label for="">SERVIÇO</label>
                <input type="text" class="form-control" 
                        name="NOME_SERVICO" id="NOME_SERVICO"
                        placeholder="DIGITE UM SERVIÇO">
                
                <button class="btn btn-success mt-2">CADASTRAR</button>
            </form>
        </div>
    </div>

    </body>

<%- include('../partials/footer.ejs')  %>